# ignore wordcloud generated images
py_scraper/static/imgs/*

# ignore scraped new site data
py_scraper/scrapedata/*

# ignore chromium logs
selchrome.log

# ignore local settings file
python_portfolio_site/local_settings.py