######     FILES ALREADY BEING TRACKED NEED TO BE REMOVED FOR GITIGNORE TO WORK:    
######      git rm --cached <filename>

# ignore original py_scraper production views code file
py_scraper/heroku_s3.py

# ignore del directory
del/

#  heroku s3 js code
py_scraper/static/py_scraper/js/herokuS3.js

# email credentials
main/oauth2_creds.json

# local settings
python_portfolio_site/local_settings.py

# staticfiles directory
staticfiles/
