# email credentials
main/oauth2_creds.json

# ignore del directory
del/

# ignore original py_scraper production views code file
py_scraper/heroku_s3.py

#  heroku s3 js code
py_scraper/static/py_scraper/js/herokuS3.js

# local settings
python_portfolio_site/local_settings.py

# staticfiles directory
staticfiles/
