/* ------- Mobile Devices --------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    /* body {
        background-color: beige;
    } */

    .one {
        height: 700px;
    }
      
    #me {
        height: auto;
        max-width: 20%;
        margin-top: -20px;
    }

    #blurb {
        font-family: 'Ubuntu', sans-serif;
    }


    #res-nav {
        height: auto;
        max-width: 100%;
    }

    #proj-nav {
        height: auto;
        max-width: 100%;
    }

    #conn-nav {
        height: auto;
        max-width: 100%;
    }

    #myname {
        position: relative;
        -webkit-animation-name: myname; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: myname;
        animation-duration: 1s;
      }
      
      @keyframes myname {
          0%  {top:150px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes myname {
          0%  {top:150px;}
          100%   {top:0px;}
      }
      
      #mydevtype {
        position: relative;
        -webkit-animation-name: mydevtype; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: mydevtype;
        animation-duration: 1s;
      }
      
      @keyframes mydevtype {
          0%  {top:200px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes mydevtype {
          0%  {top:200px;}
          100%   {top:0px;}
      }
      
      .pills {
        position: relative;
        -webkit-animation-name: nav_pills; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: nav_pills;
        animation-duration: 1s;
      }
      
      @keyframes nav_pills {
          0%  {top:250px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes nav_pills {
          0%  {top:250px;}
          100%   {top:0px;}
      }

}




























/* -------------- Laptops ---------------*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      
    .one {
        height: 700px;
    }

    #me {
        height: auto;
        max-width: 45%;
        margin-top: -20px;
    }

    #blurb {
        font-family: 'Rouge+Script';
    }

    #res-nav {
        height: auto;
        max-width: 100%;
    }

    #proj-nav {
        height: auto;
        max-width: 100%;
    }

    #conn-nav {
        height: auto;
        max-width: 100%;
    }

    #myname {
        position: relative;
        -webkit-animation-name: myname; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: myname;
        animation-duration: 1s;
      }
      
      @keyframes myname {
          0%  {top:150px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes myname {
          0%  {top:150px;}
          100%   {top:0px;}
      }
      
      #mydevtype {
        position: relative;
        -webkit-animation-name: mydevtype; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: mydevtype;
        animation-duration: 1s;
      }
      
      @keyframes mydevtype {
          0%  {top:200px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes mydevtype {
          0%  {top:200px;}
          100%   {top:0px;}
      }
      
      .pills {
        position: relative;
        -webkit-animation-name: nav_pills; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: nav_pills;
        animation-duration: 1s;
      }
      
      @keyframes nav_pills {
          0%  {top:250px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes nav_pills {
          0%  {top:250px;}
          100%   {top:0px;}
      }
}











/* ----------- Laptops (Retina Screens) ----------- */
/* @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {  */
      
    .one {
        height: 700px;
    }

    #me {
        height: auto;
        max-width: 45%;
        margin-top: -20px;
    }

    #blurb {
        font-family: 'Rouge+Script';
    }

    #res-nav {
        height: auto;
        max-width: 100%;
    }

    #proj-nav {
        height: auto;
        max-width: 100%;
    }

    #conn-nav {
        height: auto;
        max-width: 100%;
    }

    #myname {
        position: relative;
        -webkit-animation-name: myname; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: myname;
        animation-duration: 1s;
      }
      
      @keyframes myname {
          0%  {top:150px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes myname {
          0%  {top:150px;}
          100%   {top:0px;}
      }
      
      #mydevtype {
        position: relative;
        -webkit-animation-name: mydevtype; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: mydevtype;
        animation-duration: 1s;
      }
      
      @keyframes mydevtype {
          0%  {top:200px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes mydevtype {
          0%  {top:200px;}
          100%   {top:0px;}
      }
      
      .pills {
        position: relative;
        -webkit-animation-name: nav_pills; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: nav_pills;
        animation-duration: 1s;
      }
      
      @keyframes nav_pills {
          0%  {top:250px;}
          100%   {top:0px;}
      }
      
      /* Chrome, Safari, Opera */
      @-webkit-keyframes nav_pills {
          0%  {top:250px;}
          100%   {top:0px;}
      }
/* } */