{% extends "base.html" %} <!-- html template that's shared by all the apps -->
{% load static %} <!-- load static files such as images etc -->
{% block page_content %} <!-- any HTML inside the page_content block gets added inside the same block in base.html -->

<div class="row">
{% for project in projects %}
    <div class="col-12 parallax1">
        <div class="card mb-2 flex-row flex-wrap height">
            <div class="card-header border-0" id="img_cont">
                <img class="card-img-top" src="{% static project.image %}" id="proj_img">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="heights"></div> -->
{% endfor %}
</div>
{% endblock %}