{% load static %} 
<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Rouge+Script|Sofia|Flamenco|Geo|Stint+Ultra+Expanded|Linden+Hill|Balthazar' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
        <title>Sol Cameron Portfolio</title>
    </head>
    <body>
        <div class="container-fluid main">
            <div class="row align-items-center one">
                <div class="col-md">
                    <div class="row one-of-one">
                        <div class="col mt-4">
                            <img id="me" class="float-sm-right img-fluid mx-auto d-block rounded-circle" style="display:none;" src="{% static 'img/freshMe2.jpg' %}" alt="Responsive image">
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <h1 id="myname" class="col offset-lg-3 text-center text-light">Sol Cameron</h1>
                            <h3 id="mydevtype" class="col offset-lg-3 text-center">Full Stack Software Developer</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <h4 id="blurb" class="mt-lg-5 pb-lg-5 text-center font-italic" style="display:none;">"An accounting major looking to enter the tech industry, my goal is to place my keen eye for detail and inquisitive qualities to use building efficient, automated back end systems and sleek, user friendly front end applications."</h4>
                    <nav class="offset-1 offset-sm-2 mt-4 mt-lg-5 navbar pills">
                        <ul class="nav">
                            <li role="button" class="no-gutters" id="project-nav">
                                <div class="col">
                                    <img class="img-fluid rounded-0 nav-img mx-auto d-none d-lg-block" id="proj-link" src="{% static 'img/icons8-code-60.png' %}" alt="Responsive image">
                                    <a id="P" class="nav-item d-lg-none d-block nav-link active text-light" href="{% url 'project_index' %}">Projects</a>
                                </div>
                            </li>
                            <li role="button" class="no-gutters" id="resume-nav" >
                                <div class="col">
                                    <img class="img-fluid rounded-0 nav-img mx-auto d-none d-lg-block" id="res-nav" src="{% static 'img/icons8-resume-60.png' %}" alt="Responsive image">
                                    <a  id="R" class="nav-item d-lg-none d-block nav-link active text-light" href="#Resume">Resume</a>
                                </div> 
                            </li>
                            <li role="button" class="no-gutters" id="connect-nav">                       
                                <div class="col">
                                    <img class="img-fluid rounded-0 nav-img mx-auto d-none d-lg-block" id="conn-nav" src="{% static 'img/icons8-connect-50 (2).png' %}" alt="Responsive image">
                                    <a  id="C" class="nav-item d-lg-none d-block nav-link active text-light" href="#">Connect</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>                
            </div>
        </div>
        <!-- <div class="container">
            <div class="row two align-items-start">
                <div class="carousel carousel-fade ">       col-6 offset-sm-2 -->
                    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                        {% for project in projects %}
                            {% if project.id == 1 %}  <!-- necessary as crousel requires one image to be "active" -->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-9 offset-md-1"><img src="{% static project.image %}" class="d-block img-fluid carouselImg" alt="..."></div>
                                    <div class="col-md-3 carousel-caption d-none d-md-block">
                                        <h5>{{ project.title }}</h5>
                                        <p>{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if project.id > 1 %}
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-9 offset-md-1"><img src="{% static project.image %}" class="d-block img-fluid carouselImg" alt="..."></div>
                                    <div class="col-md-3 carousel-caption d-none d-md-block">
                                        <h5>{{ project.title }}</h5>
                                        <p>{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}                        
                        </div>
                        <!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a> -->
                    </div>
                <!-- </div>
            </div>
        </div> -->
        <section class="row no-gutters bg-con">
            <section class="mr-3 ml-3 col-lg-6 offset-lg-3 mt-5 mb-5 email">
                <h3 id="emailtitle" class="text-center">Send me an email</h3>
                <form id="email" action="" method="post" enctype="text/plain">
                    <div class="row">
                        <div class="col form-group input-group-lg">
                            <label id="Name" for="inputName" class="text-light">Name *</label>
                            <input type="text" id="inputNameF" class="form-control">
                            <small class="form-text text-light">First Name</small>
                        </div>
                        <div class="col form-group input-group-lg mt-4 pt-2">
                            <input type="text" id="inputNameS" class="form-control">
                            <small class="form-text text-light">Last Name</small>
                        </div>
                    </div>
                    <div class="form-group input-group-lg">
                        <label id="Email" for="inputEmail" class="text-light">Email Address *</label>
                        <input type="email" id="inputEmail" class="form-control">
                    </div>
                    <div class="form-group input-group-lg">
                        <label id="Subject" for="inputSubject" class="inputSubject text-light">Subject *</label>
                        <input type="text" id="inputSubject" class="form-control">
                    </div>
                    <div class="form-group input-group-lg">
                        <label id="Message" for="inputMessage" class="inputMessage text-light">Message *</label>
                        <textarea id="inputMessage" form="email" rows="6" style="height:100%;" class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button id="submit" class="btn btn-default submit">Send</button>
                            <a style="display:hidden;" id="e-send" href=""></a>
                        </div>
                        <div class="col">
                            <p class="text-right" style="color:white;">* Required field</p>
                        </div>                    
                    </div>
                </form>
            </section>
        </section>
        <footer id="footer">
            <ul class="offset-3 offset-sm-5 list-inline-horizontal socialIcons">
                <li id="first" class="list-inline-item flex-fill circle">
                        <a href="https://www.linkedin.com/in/solcameron" target="_blank"><img id="in" class=" img-fluid rounded mx-auto d-block sm" src="{% static 'img/icons8-linkedin-18.png' %}" alt="Responsive image"></a>
                </li>
                <li id="second" class="list-inline-item flex-fill circle">
                        <a href="https://github.com/SolJCam" target="_blank"><img id="gg" class=" img-fluid rounded mx-auto d-block sm" src="{% static 'img/icons8-octocat-18.png' %}" alt="Responsive image"></a>
                </li>
                <li id="third" class="list-inline-item flex-fill circle">
                        <a href="https://profiles.generalassemb.ly/profiles/solcameron" target="_blank"><img id="ga" class=" img-fluid rounded mx-auto d-block sm" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/6/s300/general-assembly-logo.png" alt="Responsive image"></a>
                </li>
            </ul>
            <p class="offset-3 offset-sm-5 text-light cr">Copyright 2019 Sol Cameron</p>
        </footer>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'main/js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/parallax.js-1.5.0/parallax.js' %}" type="text/javascript"></script>
</html>