{% extends "projects.html" %}
{% load static %}

{% block content %}
<div id="" class="col-12">
    <div class="row card mb-2 flex-row flex-wrap">
        <div class="col-md-8 card-header border-0">
            <!-- <p class="col-md-4 mt-2 text-right">py_dictionary</p> -->
            <form class="mt-2 mb-3 mr-1" action="" method="get">
                <div class="mt-2 mb-3 mr-1 input-group">
                    {{ form.Enter_Word.label }}{{ form.Enter_Word }}
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><img src="{% static 'img/magnifying-glass-2x.png' %}"></img></button>
                    </div>
                    {% if form.Meaning.value %}
                        {{ form.Meaning.value }}
                    {% endif %}
                </div>
            </form>
            <form id="new_word" class="mt-2 mb-3 mr-1" action="" method="post" style="display:none">
                <div class="mt-2 mb-3 mr-1 input-group">
                    <ul>
                        <li>{{ add_word.word.label }}{{ add_word.word }}</li>
                        <li>{{ add_word.first_definition.label }}{{ add_word.first_definition }}</li>
                        <li>{{ add_word.first_ex.label }}{{ add_word.first_ex }}</li>
                        <li>{{ add_word.synonym.label }}{{ add_word.synonym }}</li>
                    </ul>
                </div>
            </form>
            <div class="input-group-append">
                <button id="add_word" class="btn btn-outline-primary" href="#" type="button">Add Word</button>
            </div>
             <div id="result" class="col">
                <h1 id="dict_name"></h1>
                <p id="first_definition"></p>
                <p id="first_ex"></p>
            </div>
        </div>
        <div class="col-md-4 card-body">
            <h5 class="card-title">py_dictionary</h5>
            <p class="card-text"></p>
            <a href="#"
            class="btn btn-primary"> <!-- Will eventally replace with a thorough explanation -->
                Read More
            </a>
            <p class="card-text"></p>
        </div>
    </div>
</div>
{% endblock %}
