
                            {% if project.id == 2 %}
                            {% elif project.id == 3 %}
                            <div class="carousel-item">
                                <div class="row">
                                    <div id="carousel_img3" class="offset-md-1"><img src="{% static project.image %}" class="d-block img-fluid" alt="..."></div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ project.title }}</h5>
                                        <p>{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% elif project.id == 4 %}
                            <div class="carousel-item">
                                <div class="row">
                                    <div id="carousel_img4" class="offset-md-1"><img src="{% static project.image %}" class="d-block img-fluid" alt="..."></div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ project.title }}</h5>
                                        <p>{{ project.description }}</p>
                                    </div>
                                </div>
                            </div>