/* ------- Iphone --------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    /*----------------------------------- INDEX PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/
    .one {
        height: 640px;
        background-color: teal;
    }
      
    #me {
        max-width: 45%;
    }

    #blurb {
        /* font-family: 'Ubuntu', sans-serif; */
        font-family: 'Rouge+Script';
    }

    #myname {
        position: relative;
        -webkit-animation-name: myname; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: myname;
        animation-duration: 1s;
    }
    
    @keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
      
    /* Chrome, Safari, Opera */
    @-webkit-keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
    
    #mydevtype {
        position: relative;
        -webkit-animation-name: mydevtype; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: mydevtype;
        animation-duration: 1s;
    }
    
    @keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    .pills {
        position: relative;
        -webkit-animation-name: nav_pills; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: nav_pills;
        animation-duration: 1s;
    }
    
    @keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }

                                /* FOOTER ELEMENTS */

    .bg-con {
        background-color: purple;
    }

    #emailtitle {
        color: white;
    }

    #ga {
        width: 18px;
        height: 18px;
    }
    
    #footer {
        background-color: purple;
    }

    .socialIcons {
        background-color: purple;
    }

    .circle {
        height: 30px;
        width: 30px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }

    .sm {
        margin-top: 20%;
    }



    /*----------------------------------- PROJECTS PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/

    #navbar-items {
        width: 100%;
    }


    /*----------------------- PROJECT BODY ELEMENTS -----------------------*/
    /* #proj_img {
        max-width: 100%;
    } */

    #img_cont {
        max-width: 65%;
    }

    #return-btn {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 10%;
        visibility: hidden;
    }
  }




























/* ------- Pixel --------- */
@media only screen 
  and (min-device-width: 412px) 
  and (max-device-width: 823px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    /*----------------------------------- INDEX PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/
    .one {
        height: 640px;
        background-color: teal;
    }
      
    #me {
        max-width: 45%;
    }

    #blurb {
        /* font-family: 'Ubuntu', sans-serif; */
        font-family: 'Rouge+Script';
    }

    #myname {
        position: relative;
        -webkit-animation-name: myname; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: myname;
        animation-duration: 1s;
    }
    
    @keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
      
    /* Chrome, Safari, Opera */
    @-webkit-keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
    
    #mydevtype {
        position: relative;
        -webkit-animation-name: mydevtype; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: mydevtype;
        animation-duration: 1s;
    }
    
    @keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    .pills {
        position: relative;
        -webkit-animation-name: nav_pills; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: nav_pills;
        animation-duration: 1s;
    }
    
    @keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }

                                /* FOOTER ELEMENTS */

    .bg-con {
        background-color: purple;
    }

    #emailtitle {
        color: white;
    }

    #ga {
        width: 18px;
        height: 18px;
    }
    
    #footer {
        background-color: purple;
    }

    .socialIcons {
        background-color: purple;
    }

    .circle {
        height: 30px;
        width: 30px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }

    .sm {
        margin-top: 20%;
    }



    /*----------------------------------- PROJECTS PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/

    #navbar-items {
        width: 100%;
    }


    /*----------------------- PROJECT BODY ELEMENTS -----------------------*/
    /* #proj_img {
        max-width: 100%;
    } */

    #img_cont {
        max-width: 65%;
    }

    #return-btn {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 10%;
        visibility: hidden;
    }
  }





























  /* -------------- Laptops ---------------*/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    /*----------------------------------- INDEX PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/      
    .one {
        height: 700px;
        background-color: teal;
    }

    #me {
        max-width: 45%;
        margin-top: -20px;
    }

    #blurb {
        font-family: 'Rouge+Script';
    }

    #myname {
        position: relative;
        -webkit-animation-name: myname; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: myname;
        animation-duration: 1s;
    }
    
    @keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
    
    #mydevtype {
        position: relative;
        -webkit-animation-name: mydevtype; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: mydevtype;
        animation-duration: 1s;
    }
    
    @keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    .pills {
        position: relative;
        -webkit-animation-name: nav_pills; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: nav_pills;
        animation-duration: 1s;
    }
    
    @keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }


                                /* FOOTER ELEMENTS */

    .bg-con {
        background-color: purple;
    }

    #emailtitle {
        color: white;
    }

    #ga {
        width: 18px;
        height: 18px;
    }

    #footer {
        background-color: purple;
    }

    .socialIcons {
        background-color: purple;
    }

    .circle {
        height: 30px;
        width: 30px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }

    .sm {
        margin-top: 20%;
    }



    /*----------------------------------- PROJECTS PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/

    #navbar-items {
        width: 100%;
    }

    /*----------------------- PROJECT BODY ELEMENTS -----------------------*/
    /* #proj_img {
        max-width: 100%;
    } */

    .parallax-window {
        min-height: 600px;
        background: transparent;
    }

    #return-btn {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 5%;
        visibility: hidden;
    }

}





























/* ----------- Tablets ----------- */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /*----------------------------------- INDEX PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/      
    .one {
        height: 700px;
        background-color: teal;
    }

    #me {
        max-width: 45%;
        margin-top: -20px;
    }

    #blurb {
        font-family: 'Rouge+Script';
    }

    #myname {
        position: relative;
        -webkit-animation-name: myname; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: myname;
        animation-duration: 1s;
    }
    
    @keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes myname {
        0%  {top:150px;}
        100%   {top:0px;}
    }
    
    #mydevtype {
        position: relative;
        -webkit-animation-name: mydevtype; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: mydevtype;
        animation-duration: 1s;
    }
    
    @keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes mydevtype {
        0%  {top:200px;}
        100%   {top:0px;}
    }
    
    .pills {
        position: relative;
        -webkit-animation-name: nav_pills; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
        animation-name: nav_pills;
        animation-duration: 1s;
    }
    
    @keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }
    
    /* Chrome, Safari, Opera */
    @-webkit-keyframes nav_pills {
        0%  {top:250px;}
        100%   {top:0px;}
    }


                                /* FOOTER ELEMENTS */

    .bg-con {
        background-color: purple;
    }

    #emailtitle {
        color: white;
    }

    #ga {
        width: 18px;
        height: 18px;
    }

    #footer {
        background-color: purple;
    }

    .socialIcons {
        background-color: purple;
    }

    .circle {
        height: 30px;
        width: 30px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
    }

    .sm {
        margin-top: 20%;
    }



    /*----------------------------------- PROJECTS PAGE -----------------------------------*/

   
    /*----------------------- HEADER ELEMENTS -----------------------*/

    #navbar-items {
        width: 100%;
    }

    /*----------------------- PROJECT BODY ELEMENTS -----------------------*/
    /* #proj_img {
        max-width: 100%;
    } */

    /* .parallax-window {
        min-height: 600px;
        background: transparent;
    } */

    #return-btn {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        bottom: 5%;
        visibility: hidden;
    }
}